.t{

    opacity: 0.5;
   
    
}
.gs{
    height: 50px;
    width: 50px;
    background-color:red;
    border-radius: 40%;
    margin-top: -360px;
    margin-left: 640px;
    z-index: 0;
    color: white;
}
.h{
    max-width: 20%;
    max-height: 30%;
    margin-left: 7.5rem;
    margin-top: 2rem;
}
 .card-footer{
    height: 50vh;
    width: 100%;
    background-color: black;
} 
.dd{
    height: 5rem;
    width: 5rem;
    
    margin-left: 800px;
}
.ddd{
    margin-left: 800px;
    color: wheat;
}